<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>線上掛號</title>
</head>

<body>

<h1>線上掛號</h1>

<p
th:if="${error}"
style="color:red">

[[${error}]]

</p>

<form
th:action="@{/appointment/new}"
th:object="${form}"
method="post">

<div>

病歷號

<input
type="text"
th:field="*{chartNo}">

</div>

<br>

<div>

醫師

<select
th:field="*{doctorId}">

<option
th:each="doctor : ${doctors}"
th:value="${doctor.doctorId}"
th:text="${doctor.name}">

</option>

</select>

</div>

<br>

<div>

日期

<input
type="date"
th:field="*{apptDate}">

</div>

<br>

<div>

時段

<select
th:field="*{timeSlot}">

<option value="上午">上午</option>

<option value="下午">下午</option>

<option value="晚上">晚上</option>

</select>

</div>

<br>

<button type="submit">

送出掛號

</button>

</form>

</body>

</html>