<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<h1>醫師清單</h1>

<a href="/">首頁</a>

<hr>

<a href="/doctors">全部</a>

<span
th:each="dept:${departments}">

<a

th:href="@{/doctors(department=${dept})}"

th:text="${dept}"

>

</a>

</span>

<hr>

<div
th:if="${doctors.size()>0}">

<div
th:each="doctor:${doctors}">

<a

th:href="@{/doctors/{id}(id=${doctor.doctorId})}"

th:text="${doctor.name}"

></a>

<span
th:text="${doctor.department}">
</span>

</div>

</div>

<p
th:unless="${doctors.size()>0}">

沒有資料

</p>

</body>

</html>